@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    margin: 0 !important;
}

* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 800px) {
    .container {
        width: 100vw !important;
        max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      
    }
    
  }
.centered {
    align-self:center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 50vw;
    max-width:480px;
    background-color:#7A9E9F;
    padding:1rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin:auto;
    border-radius: 0.8rem;
    
}


#next-button {
    width:4rem;
    padding:0.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
    color:#47595C;
    border:2px solid #47595C;
    letter-spacing: 0.5px;
    cursor:pointer;

}

#check-button {
    width:4rem;
    padding:0.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
    color:#47595C;
    border:2px solid #47595C;
    letter-spacing: 0.5px;
    cursor:pointer;
}

#bill-amount {
    margin-top: 0.5rem;
    padding:0.9rem;
}

#cash-given {
    margin-top: 0.5rem;
    padding:0.9rem;
}

#cash-given-label {
    margin-top: 1.5rem;
    color:#D0DADC;
    letter-spacing: 0.5px;
    font-size: large;
}

#bill-amount-label {
    font-size: large;
    letter-spacing: 0.5px;
    color:#D0DADC;
}

#currency-table {
    margin-top: 1.5rem;
}

#table-caption{
    margin-bottom:1.5rem;
}

h1{
    font-family: 'Hina Mincho', serif;
    letter-spacing: 0.5px;
}

p {
    font-size:medium;
}

#table-caption {
    font-size: large;
    letter-spacing: 0.5px;
    color:#D0DADC;
}

#currency-table {
    border-collapse: collapse;
    width: 100%;
    

}

#currency-table td, #currency-table th{
    border:2px solid #ddd;
    padding:0.2rem;
}

#currency-table th {
    background-color: #95ACB1;
}

#currency-table td {
    width: 4.5rem;
}

table{
    width: 100%;
    table-layout: fixed;
    margin-left: auto !important;
    margin-right: auto !important;
}

th,td{
    word-wrap: break-word !important;
}